<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gulzar&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gulzar&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./desktop.css">
    <link rel="stylesheet" type="text/css" href="./mobile.css">
    <title>Le chiChe di CocCoDè</title>
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="initial-scale=0.85, maximum-scale=0.85, user-scalable=no" />
</head>

<body>
    <header>

    </header>
    <section>
        <div id="logo">
            <h3>logo qui</h3>
        </div>
        <div id="contenuti">
            <h3>Sito in costruzione, ci vediamo presto</h3>
            <h4>intanto, seguici sui nostri social</h4>
            <ul>
                <li>
                    <img src="./fb.png" alt="facebook">
                </li>
                <li class="move_far">
                    <img src="./instagram.png" alt="instagram">
                </li>
                <li class="move_far">
                    <img src="./tiktok.png" alt="tikTok">
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <p>@ all rights reserved, chicchedicoccode è un marchio registrato ltd 2022</p>
        <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Icons created by Freepik&Ruslan
            Babki - Flaticon</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="./links.js"></script>
</body>

</html>